.cabecalho {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked~.container__label>.cabecalho__menu-hamburguer {
    background-image: url(/assets/Menu\ Aberto.svg);
}

.container__botao:checked~.container__label {
    background: var(--azul-degrade);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60%;
}

.lista-menu__titulo {
    color: var(--cor-titulo);
    font-weight: 700;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-secundaria);
}

.lista-menu__item:hover {
    background-color: var(--azul-degrade);
}

.lista-menu__item:hover>.lista-menu__link{
    background: var(--cor-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__imagem {
    padding: 1rem;
}

.container__titulo, .opcoes, .opcoes__botao, .container__texto {
    display: none;
}

@media screen and (min-width: 768px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.9rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .opcoes__botao:checked~.opcoes__label>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-secundaria);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        margin: 0 1rem;
    }

    .container__link {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        text-decoration: none;
    }

    .container__texto {
        display: block;
    }

    .opcoes {
        margin-right: auto;
    }

    .opcoes__item:hover {
        cursor: pointer;
    }

}



